@import '../../Main.scss';

.gpt3__article {
  background-color: $color-blog;
  width: 100%;
  height: 100%;
}

.gpt3__article-content-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.gpt3__article-img {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.gpt3__article-date {
  font-size: 0.6rem;
}

.gpt3__article-title {
  margin: 20px 0 30px 0;
}

.gpt3__article-more {
  font-size: 0.8rem;
  font-weight: bold;
}